[submodule "bundle/vim-sensible"]
	path = bundle/vim-sensible
	url = git://github.com/tpope/vim-sensible.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = https://github.com/wincent/Command-T.git
[submodule "bundle/file-line"]
	path = bundle/file-line
	url = git@github.com:bogado/file-line.git
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = git@github.com:vim-scripts/taglist.vim.git
[submodule "bundle/vim-jinja2-syntax"]
	path = bundle/vim-jinja2-syntax
	url = git@github.com:Glench/Vim-Jinja2-Syntax.git
[submodule "bundle/bufexplorer"]
	path = bundle/bufexplorer
	url = git@github.com:jlanzarotta/bufexplorer.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = git@github.com:scrooloose/syntastic.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = git@github.com:garbas/vim-snipmate.git
[submodule "bundle/tlib"]
	path = bundle/tlib
	url = https://github.com/tomtom/tlib_vim.git
[submodule "bundle/vim-addon-mw-utils"]
	path = bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "bundle/lessc"]
	path = bundle/lessc
	url = git@github.com:groenewege/vim-less.git
[submodule "bundle/puppet"]
	path = bundle/puppet
	url = git://github.com/rodjek/vim-puppet.git
[submodule "bundle/vim-snippets"]
	path = bundle/vim-snippets
	url = git@github.com:honza/vim-snippets.git
[submodule "bundle/phpcomplete"]
	path = bundle/phpcomplete
	url = git://github.com/shawncplus/phpcomplete.vim.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/php-explorer"]
	path = bundle/php-explorer
	url = git@github.com:PhilGrayson/php-explorer.git
[submodule "bundle/ag-vim"]
	path = bundle/ag-vim
	url = git@github.com:rking/ag.vim.git
[submodule "bundle/rainbow-parentheses"]
	path = bundle/rainbow-parentheses
	url = https://github.com/kien/rainbow_parentheses.vim.git
[submodule "bundle/vim-refactor-php"]
	path = bundle/vim-refactor-php
	url = git@github.com:rhysr/vim-refactor-php.git
